<app-header></app-header>
<main class="apresentacao">
    <section class="apresentacao__conteudo">
      <h1 class="apresentacao__conteudo__titulo">
        Eleve seu negócio digital a outro nível
        <strong class="tituloDestaque">com um Front-end de qualidade!</strong>
      </h1>
      <p class="apresentacao__conteudo__texto">
        Olá! Sou Eduardo Paulo Tomilhero, desenvolvedor Front-end com Foco em
        HTML, CSS e TypeScript(Angular). Quero ajudar empresas e designers a colocarem
        em prática boas ideias. Vamos conversar?
      </p>
      <div class="apresentacao__links">
        <h2 class="apresentacao__links__subtitulo">Acesse Minhas Redes!</h2>
        <a
          class="apresentacao__links__navegacao"
          href="https://github.com/EduT3"
        >
          <img src="./assets/github.png" alt="Logo GitHub" />
          GitHub
        </a>
        <a
          class="apresentacao__links__navegacao"
          href="https://www.linkedin.com/in/eduardo-paulo-tomilhero-bbb83b264/"
        >
          <img src="./assets/linkedin.png" alt="Logo Linkedin" />
          Linkedin
        </a>
        <a
          class="apresentacao__links__navegacao"
          href="https://twitter.com/EduTomilhero"
        >
          <img src="./assets/twitter.png" alt="Logo Twitter" />
          Twitter
        </a>
      </div>
    </section>
    <img
      class="apresentacao__imagem"
      src="./assets/ed.jpg"
      alt="Eduardo com um óculos maneiro!"
    />
  </main>
  <app-footer></app-footer>