<app-header></app-header>
<main class="apresentacao">
    <section class="apresentacao__conteudo">
      <h1 class="apresentacao__conteudo__titulo">Sobre mim</h1>
      <p class="apresentacao__conteudo__texto">
        A ideia deste Portifólio é simplificar melhor meu conhecimentos, de
        uma forma que seja facil de apresentar para terceiros.
      </p>

      <p class="apresentacao__conteudo__texto">
        Estou me especializando em Front-end, HTML, CSS e TypeScript(Angular). Ainda
        não tenho Experiência profissional, mas me empenho para aprender e evoluir sempre.
      </p>

      
    </section>
    <img
      class="apresentacao__imagem"
      src="./assets/ed.jpg"
      alt="Eduardo com um óculos maneiro!"
    />
  </main>
  <app-footer></app-footer>